name: Playwright Tests
on:
    push:
        branches: [main, master]
    pull_request:
        branches: [main, master]
jobs:
    test:
        timeout-minutes: 60
        runs-on: macos-latest
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
              with:
                  version: 10.20.0
            - uses: actions/setup-node@v4
              with:
                  node-version: 22
                  cache: pnpm
            - name: Install dependencies
              run: pnpm install --frozen-lockfile --prefer-offline
            - run: pnpm run build
            - run: pnpm exec playwright install --with-deps
            - run: pnpm run test || exit 1
            - uses: actions/upload-artifact@v4
              if: always()
              with:
                  name: playwright-report
                  path: playwright-report/
                  retention-days: 30
