name: Preview

on: [push, pull_request]

jobs:
    build:
        name: Build
        runs-on: macos-latest
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
              with:
                  version: 10.20.0

            - uses: actions/setup-node@v4
              with:
                  node-version: 22
                  cache: pnpm

            - name: Install dependencies
              run: pnpm install --frozen-lockfile --prefer-offline

            - name: Build
              run: pnpm build

            - name: Create a snapshot version
              id: snapshot
              run: pnpm dlx pkg-pr-new publish
